# Git ignore file for the project

# Ignore the node_modules directory and package-lock.json file

#Node modules
node_modules/

#Package-lock.json
package-lock.json

# Ignore the dist directory where the compiled files are located
dist/

# Ignore the .env file where environment variables are stored
.env

# Ignore log files
logs/
*.log

# Ignore the coverage directory where test coverage reports are stored
coverage/

# Ignore the .vscode directory where Visual Studio Code settings are stored
.vscode/

# Ignore the .idea directory where IntelliJ IDEA settings are stored
.idea/

# Ignore the .DS_Store file created by macOS
.DS_Store

# Ignore the .git directory where Git stores its data
.git/